<!-- Write HTML for the home page here -->
<button onclick="location.href='/createAccount';" class="btn btn-primary">Register</button>
<button onclick="location.href='/login';" class="btn btn-primary">Login</button>
<button onclick="navToIncidentCreation()" class="btn btn-primary">Submit New Incident</button>
