<!-- Write HTML for the home page here -->
<div class="bg-info container">
  <div class="bg-primary row">
    <div class="text-center col-xs-12">
      <h1 class="display-1">LA Street Safety Portal - Home</h1>
    </div>
  </div>
  <h2 class="display-2">{{userMessage}}</h2>
  {{#if userid}}
    <button onclick="location.href='/logout'" class="btn btn-primary">Logout</button>
  {{else}}
    <button onclick="location.href='/login';" class="btn btn-primary">Login</button>
  {{/if}}
  <button onclick="navToIncidentCreation()" class="btn btn-primary">Submit New Incident</button>
</div>

