<!-- Write HTML for the login landing page here -->
<div class="bg-info container">
  <div class="bg-primary row">
    <div class="text-center col-xs-12">
      <h1 class="display-1">LA Street Safety Portal - Login</h1>
    </div>
  </div>
  <h2 class="display-2">{{message}}</h2>
  <button onclick="location.href='/';" class="btn btn-primary">Return Home</button>
</div>

