<!-- Write HTML for the logout landing page here -->
<div class="bg-info container">
  <div class="bg-primary row">
    <div class="text-center col-xs-12">
      <h1 class="display-1">LA Street Safety Portal - Logout</h1>
    </div>
  </div>
  <h2 class="display-2">You are now logged out</h2>
  <button onclick="location.href='/';" class="btn btn-primary">Return Home</button>
</div>
