<!-- Write HTML for the submit incident page here -->
<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<form id="post-incident">
				<div class="form-group">
				<legend>Please provide incident details</legend>
					<input type="hidden" class="form-control" id = "userid" name="userid" value="{{userid}}">
					<input type="date" class="form-control" id = "date" name="date"  placeholder="yyyy-mm-dd"></br>
					<input type="text" class="form-control" id = "title" name="title" placeholder="Enter incident title"></br>
					<input type="text" class="form-control" id = "description" name="description" placeholder="Enter incident description"></br>
					<input type="text" class="form-control" id = "location" name="location" placeholder="Enter incident location"></br>
					<input type="text" class="form-control" id = "type" name="type" placeholder="Enter incident type"></br>
					<input type="text" class="form-control" id = "involvement" name="involvement" placeholder="Enter your involvement"></br>
					<input type="text" class="form-control" id = "mode" name="mode" placeholder="Enter the incident mode"></br>
					<text>Would you like to submit anonymously?</text></br>
					<div class="form-check form-check-inline">	
						<input type="radio" class="form-check-input"  name="isAnonymous" value="1">Yes
						<input class="form-check-input" type="radio" name="isAnonymous" value="0" checked="checked">No<br />
					</div>

					<text>Would you like to receive updates?</text></br>
					<div class="form-check form-check-inline">
						<input type="radio" class="form-check-input" name="receivesUpdates" value="1" checked="checked">Yes
						<input type="radio" class="form-check-input" name="receivesUpdates" value="0">No<br />
					</div>
					
					
					<input type="submit" class="btn btn-primary" value="Save Incident">
				</div>
			</form>
		</div>

		<div class="col-sm-2"></div>
	</div>
</div>

<script defer>document.getElementById("post-incident").onsubmit = function(e) { e.preventDefault(); subIncidentAJAX(); };</script>
